.calendar-frame-title-container {
    width: fit-content;
    margin: 0 auto;    
    margin-top: 1rem;
    
    display: flex;
    align-items: center;
}

.calendar-frame-title-container *:first-child {
    margin-right: 0.5rem;
}

.calendar-frame {
    /* background-color: red; */
    height: fit-content;
    width: 50vw;
    margin: 0 auto;
    
    margin-top: 1rem;

    border: solid black 1px;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
}

.calendar-frame div div button {
    padding: 0 0.5rem;
}

.calendar-frame div,
.calendar-frame button {
    font-size: 1.35rem;
}

.calendar-frame abbr{
    text-decoration: none;
}


.fecha-elegida-container h1 {
    font-weight: bolder;
    margin-top: 0.2rem;
    /* background-color: red; */
    width: fit-content;
    margin: 0 auto;
}

.fecha-elegida-container section {
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.fecha-elegida-container section button {
    font-weight: initial;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
    transition: all 0.2s;
}