.cliente-main-container {
    width: 50vw;
    height: 65vh;
    overflow-y: scroll;

    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.45rem 0.55rem;
    
    border: solid black 1px;
    border-radius: 5px;
    
    --font-size-to-use: 1.35rem;
    font-size: var(--font-size-to-use);
}


.cliente-main-container-header {
    display: flex;
    justify-content: space-between;
}
.cliente-main-container-header *{
    display: grid;
    place-self: center;
}


.autocomplete-limited-container,
.cliente-input-row {
    width: 35vw;
    /* width: 90%; */
}

.cliente-input-row {
    border-top: solid black 1px;
    margin-top: 0.5rem;
}
.cliente-input-row input{
    width: 98%;
    border: solid black 2px;
}

.rut-input-box {
    font-size: var(--font-size-to-use);
    border-radius: 10px;
    padding-left: 0.25rem;
    font-weight: bolder;
}


/** FILA DEL RUT */
.cliente-rut-input-row {
    display: flex;
}
.cliente-rut-input-left-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cliente-rut-input-left-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2rem 0;

    margin-left: 0.55rem;
    font-size: var(--font-size-to-use);
    font-weight: bolder;
}
.cliente-rut-input-button{
    font-size: 1.1rem;
    height: fit-content;
    background-color: transparent;
    border: solid black 1px;
    border-left: 0;
    border-right: 0;

    line-height: 2rem;
    transition: all 0.2s linear;

    cursor: pointer;
}

.cliente-rut-input-button:hover {
    line-height: 1.5rem;
    font-weight: bolder;    
}