.servicios-solicitados-container {
    min-width: 70vw;
    --column-max-width: 80vw;
    max-width: var(--column-max-width);

    /* height: 30vw; */
    --column-max-height: 30vw;
    --column-max-height: 65vh;
    max-height: var(--column-max-height);
    overflow-y: scroll;

    margin: 0 auto;
    margin-top: 1rem;
    
    --font-size-to-use: 1.35rem;
    font-size: var(--font-size-to-use);

    --base-column-width: 20%;
}

.servicio-solicitado-row,
.the-very-title-of-the-table {
    cursor: pointer;
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */




/** ESTILANDO EL CALENDARIO MODAL --------------------------------------------------------------  */
.calendar-frame {
    height: fit-content;
    width: fit-content;
    padding: 0.25rem 0.5rem;
}

.calendar-frame div div button {
    padding: 0 0.5rem;
}

.calendar-frame div,
.calendar-frame button {
    font-size: 1.35rem;
}

.calendar-frame abbr{
    text-decoration: none;
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */



/** ESTILANDO EL MODAL DEL AUTOCOMPLETE --------------------------------------------------------  */
.modify-row-trabajo-portal-frame {
    /* background-color: rgb(169, 255, 169); */
    height: 12.5vw;
    height: fit-content;
    width: 30vw;
    padding: 0.25rem 0.5rem;
}
.modify-row-trabajo-portal-frame h3 {
    font-size: 1.5rem;
}
.modify-row-trabajo-portal-frame * {
    margin-bottom: 0.5rem;
}
.modify-row-trabajo-portal-frame *:last-child {
    margin-bottom: 0;
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */




/** HACER QUE LA TABLA USE TODO EL ANCHO DEL CONTENEDOR ----------------------------------------- */
.servicios-solicitados-container table {
    width: 100%;
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */





/** ESTILANDO LAS COLUMNAS ---------------------------------------------------------------------- */
.table-column-codigo {
    --codigo-column-extra-width: 0%;
    width: calc(var(--base-column-width) + var(--codigo-column-extra-width));
}

.table-column-descripcion {
    --descripcion-column-extra-width: 10%;
    width: calc(var(--base-column-width) + var(--descripcion-column-extra-width));
}

.table-column-equipo {
    --valorunitario-column-extra-width: -5%;
    width: calc(var(--base-column-width) + var(--valorunitario-column-extra-width));
}

.table-column-info_adicional {
    --cantidad-column-extra-width: 5%;
    width: calc(var(--base-column-width) + var(--cantidad-column-extra-width));
}

.table-column-valor {
    --valor-column-extra-width: -5%;
    width: calc(var(--base-column-width) + var(--valor-column-extra-width));
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */





/** DARLE UN CUADRITO A CADA ELEMENTO DE LA TABLA ----------------------------------------------- */
.servicios-solicitados-container th, 
.servicios-solicitados-container td {
    border:1px solid black;
    padding: 0 0.25rem;    
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */





/** ESTILANDO LOS BOTONES (+) Y (-) */
.servicios-solicitados-container tbody tr .servicio-solicitado-row-button{
    border: 0;
    width: 1rem;
}
.servicios-solicitados-container tbody tr .servicio-solicitado-row-button button{
    width: 2rem;
    height: 2rem;
    display: grid;
    place-content: center;
    transition: all 0.5s;
}
.servicios-solicitados-container tbody tr .servicio-solicitado-row-button button *{
    font-size: 1.15rem;
}
/** BOTON (+) y BOTON (-)*/
.add-row-button:hover,
.remove-row-button:hover {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
/** BOTON (+) */
.add-row-button:hover {
    background-color: rgb(0, 255, 0);
}
/** BOTON (-) */
.remove-row-button:hover {
    background-color: rgb(255, 0, 0);
}
.hidden-button {
    background-color: transparent;
    border: 0;
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */








/** ESTILANDO LAS FILAS ------------------------------------------------------------------------- */
.table-cell-codigo,
.table-cell-detalletrabajo,
.table-cell-equipo,
.table-cell-infoadicional,
.table-cell-valor {    
    overflow-x: scroll;
    max-width: calc(var(--column-max-width) * 0.2);
}

.table-cell-codigo div,
.table-cell-detalletrabajo div,
.table-cell-equipo div,
.table-cell-infoadicional div,
.table-cell-valor div {
    overflow-y: scroll;
    max-height: calc(var(--column-max-height) * 0.2);
}

.table-cell-valor div {
    width: fit-content;
    margin: 0 auto;
}
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */
/** --------------------------------------------------------------------------------------------  */