.lista-servicios-container {
    overflow-y: scroll;
    width: 15rem;
    max-width: 20vw;
    padding: 0.35rem;
    border: solid black 1px;
    border-radius: 5px;
}

.servicios-guardados-title {
    width: fit-content;
    margin: 0 auto;
}

.servicio-row-container {
    margin-top: 0.5rem;
    border-top: solid black 1px;
    padding-left: 0.2rem;
    display: flex;

    --data-width: 0.6;
}

.servicio-row-container-data {
    /* background-color: red; */
    flex: var(--data-width);
    width: 60%;
    overflow-x: scroll;    
    padding-left: 0.55rem;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.servicio-row-container-data h3 {
    border-top: solid black 1px;
}
.servicio-row-container-data h3:first-child {
    border-top: 0;
}

.servicio-row-container-buttons {
    /* background-color: blue; */
    flex: calc(1 - var(--data-width));
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.servicio-row-container-buttons * {
    margin: 0.25rem 0;
    width: 2rem;
    height: 2rem;
}